body { 
	margin: 0;
	padding: 0; 
	font-family: 'Francois One', sans-serif;
	background: #FFF0E0;
}

h1 {
	margin: 0 auto;
	display: block;
}

/*--RIBBON--*/

 .ribbon-wrapper {
	position: relative;
	left: 50%;
	margin: 20px 0 30px -150px;
	text-align: center;
	display: inline-block;
}
  .ribbon-front {
	background-color: #5CADB8;	height: 50px;
	width: 360px;
	position: relative;
	left:-30px;
	top: -21px;
	z-index: 2;
}


  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 50px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -30px;
	border-color: transparent #315D64 transparent transparent;
}

  .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 30px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0 30px 30px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 300px;
	border-color: transparent transparent transparent #315D64;
}

  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 30px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 30px 30px;
}

  .ribbon-back-left {
	position: absolute;
	top: 30px;
	left: -70px;
	width: 70px;
	height: 50px;
	background-color: #4F939E;	z-index: 0;
}

  .ribbon-back-right {
	position: absolute;
	top: 30px;
	left: 300px;
	width: 70px;
	height: 50px;
	background-color: #4F939E;	z-index: 0;
}





/*BOARD*/

div.boardWrapper{
	margin: 0 auto;
	width: 600px;
	height: 600px;
	display: block;
	background: url('../images/board.png') 0 0 no-repeat;
	padding: 16px 0 0 12px;
}

div.home {
	width: 210px;
	height: 200px;
	border: 1px solid black;
	float: left;
}

span {
	width: 45px;
	height: 45px;
	border: 1px solid black;
	display: block;
	float: left;
	margin: 0px 6px 5px 0;
}

span.redPiece {
	background: url('../images/red-piece.png');
}

span.bluePiece {
	background: url('../images/blue-piece.png');
}

span.greenPiece {
	background: url('../images/green-piece.png');
}

span.yellowPiece {
	background: url('../images/yellow-piece.png');
}

#glow {
	-webkit-box-shadow: 0 0 15px #333; 
	-moz-box-shadow: 0 0 15px #333; 
	box-shadow:0 0 15px #333; 
}

#diceArea{
	width: 160px;
	height: 120px;
	float: right;
	margin-right: 5%;
	margin-top: 5%;
}

	#dice{
		width: 100px;
		height: 100px;
		margin: auto;
		margin-top: 25px;
		background: url('../images/dice1.png') no-repeat 0 0;
	}
	
		#dice #diceValue{
			margin: auto auto;
			width: 100px;
			height: 100px;
			text-align: center;
		}
	
	#diceMessage{
		width: 90%;
		height: 20px;
		border: 1px solid black;
		margin: auto;
		margin-top: 5px;
		text-align: center;
	}
	
		#diceMessage p{
			margin: 0;
			padding: 0;
		}

.topWrapper, .bottomWrapper {
	width: 160px;
	float: left;
	display: block;
}

.middleWrapper {  
	display: block;
	float: left;
	height: 159px;
}