body { 
	margin: 0;
	padding: 0; 
}

div.boardWrapper{
	margin: 0 auto;
	width: 600px;
	height: 600px;
	display: block;
	background: url('../images/board.png') 0 0 no-repeat;
	padding: 16px 0 0 12px;
}

div.home {
	width: 210px;
	height: 200px;
	border: 1px solid black;
	float: left;
}

span {
	width: 45px;
	height: 45px;
	border: 1px solid black;
	display: block;
	float: left;
	margin: 0px 6px 5px 0;
}

span.redPiece {
	background: url('../images/red-piece.png');
}

span.bluePiece {
	background: url('../images/blue-piece.png');
}

span.greenPiece {
	background: url('../images/green-piece.png');
}

span.yellowPiece {
	background: url('../images/yellow-piece.png');
}

#glow {
	-webkit-box-shadow: 0 0 15px #333; 
	-moz-box-shadow: 0 0 15px #333; 
	box-shadow:0 0 15px #333; 
}

#diceArea{
	width: 160px;
	height: 120px;
	float: right;
	margin-right: 5%;
	margin-top: 5%;
	border: 1px solid black;
}

	#dice{
		width: 60px;
		height: 60px;
		margin: auto;
		margin-top: 25px;
		border: 1px solid black;
	}
	
		#dice #diceValue{
			margin: auto auto;
			margin-top: 15px;
			width: 50%;
			height: 50%;
			text-align: center;
		}
	
	#diceMessage{
		width: 90%;
		height: 20px;
		border: 1px solid black;
		margin: auto;
		margin-top: 5px;
		text-align: center;
	}
	
		#diceMessage p{
			margin: 0;
			padding: 0;
		}

.topWrapper, .bottomWrapper {
	width: 160px;
	float: left;
	display: block;
}

.middleWrapper {  
	display: block;
	float: left;
	height: 159px;
}